*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #41aeff;
    background-image: url("../img/pattern.png");
    background-size: auto;
    height: 100px;
}

header>.header_logo{
    width: 250px;
    padding-top: 30px;
}

h1{
    font-size: 60px;
}

.sottotitolo_1{
    font-size: 20px;
}

.the_booleaner{
    color: lightblue;
}

.sottotitolo_2{
    font-size: 15px;
}



